/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

:root{
    --blue:#001E6C;
    --yellow:#FF9B00;
    --skyBlue:#035397;
    --gray:#455A64;
}

/* Reset */
*{
    margin: 0;
    padding: 0%;
}
body{
    width: 100vw;
    overflow-x: hidden;
    font-size: 50%;
    font-family: 'Poppins', sans-serif;
}


/* utils  */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.p-head{
    font-size: 1.2rem;
}
.p-secondary{
    font-size: 0.8rem;
    color:var(--gray);
}
button{
    cursor: pointer;
}

/* ---- Css by selecting elements ----  */
#navbar{
    display: none;
}
#mobNav{
    width: 95%;
    margin: auto;
}
#menu{
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.5rem;
}
#hamburger{
    position: fixed;
    right: -100%;
    top: 0%;
    height: 100vh;
    /* display: none; */
    padding: 1rem 1rem;
    padding-top: 2rem;
    transition: all linear 0.5s;
    background-color: #FF9B00;
}
#close{
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 1.5rem;
}
#hamburger a{
    display: block;
    font-size: 1.3rem;
    /* color: black; */
    color: #001E6C;
    border-bottom: 2px solid #001E6C;
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
}

/* Home section  */
#home{
    width: 95%;
    margin: 2rem auto;
    text-align: center;
}
#home h2{
    font-size: 2rem;
}
#home h2 span{
    color: var(--yellow);
}
#home>div button{
    color: white;
    background-color: var(--blue);
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

/* Record section  */
#record{
    background-color: var(--blue);
}
#stat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}
#record .flex div{
    width: 48%;
}
#stat h3{
    font-size: 1.2rem;
    color: white;
}

/* Our feature  */
#feature{
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}
#feature>span{
    color: var(--yellow);
    font-size: 0.7rem;
}
#feature>p{
    font-size: 1.4rem;
}
#feature>p a{
    color: var(--blue);
    font-weight: 600;
    margin: 1rem 0;
}
#feature i{
    width: 2rem;
    height: 2rem;
}
#feature div div{
    margin: 1rem 0;
}



/* Courses Section  */
#courses{
    width: 90%;
    margin: auto;
}
.head{
    text-align: center;
    font-size: 1.5rem;
}
#courses>div{
    margin: 4rem 0;
}
.course-container{
    width: 75%;
    margin: 1rem 0;
    padding: 0.8rem;
    border-radius: 1rem;
    box-shadow: 0.5px 0.5px 8px 5px rgba(128, 128, 128, 0.359);
}
.course-container img{
    width: 100%;
    height: 11rem;
}
.course-cat{
    font-size: 0.5rem;
    display: inline;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.452);
    margin: 2px;
}
.p-head1{
    font-size: 1.1rem;
    margin: 2px 0;
}
.live{
    color: #455A64;
    font-size: 0.8rem;
}
.live svg{
    height: 1rem;
    width: 1.2rem;
}
.lecture{
    color: #FF9B00;
}
.advance{
    color: var(--skyBlue);
    font-size: 0.8rem;
    margin: 1px 0px;
}
.advance svg{
    height: 1rem;
    width: 1rem;
}
.ratting{
    font-size: 0.9rem;
    margin: 4px 0px;
}
.ratting span{
    color: #FF9B00;
    font-weight: 800;
}
.course-container .flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.course-container a{
    border: 1px solid var(--gray);
    color: #455A64;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.6rem;
    padding: 2px 4px;
}
#courses>button{
    border: 3px solid var(--yellow);
    border-radius: 8px;
    font-size: 1.2rem;
    color: var(--yellow);
    display: block;
    width: 80%;
    margin: 2rem auto;
    margin-top: 0%;
    padding: 0.5rem 0.3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
    background-color: white;
}
.course-container button{
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding: 0.5rem 0.5rem;
    font-family: 'Poppins', sans-serif; 
    border: none;
    border-radius: 8px;
    margin: 2px 0;
    margin-bottom: 0;
}


/* Vission section  */
section#vission{
    width: 85%;
    margin: 4rem auto;
    color: #455A64;
    padding: 3rem 1rem;
    box-sizing: border-box;
    box-shadow: 5px 4px 14px 11px rgba(78, 78, 78, 0.406);
    border-radius: 25px;
}
div#our-vission{
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
}
div#vission-content{
    width: 90%;
    padding: 1rem;
    font-size: 1rem;
    border-left: 4px solid black;
}


/* More on Section  */
section#more-on{
    display: none;
}


/* #Our-lerners  */
#learners{
    width: 90%;
    margin: auto;
}
#learners #container{
    margin: 1rem 0;
}
#learners .flex{
    display: flex;
    flex-direction: row;
}
#container .boxes{
    width: 68%;
    background-color: #b5b5b57a;
    padding: 1.5rem 1rem;
    border-radius: 20px;
}
.boxes>div{
    display: flex;
}
.boxes>p{
    font-size: 0.8rem;
    margin: 1rem 2rem;
    margin-right: 0%;
}


/* Join section  */
#join{
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
}
#join div{
    width: 75%;
}
#join h3{
    font-size: 1.2rem;
    color: white;
}
#join p{
    font-size: 0.6rem;
}
#join button{
    width: 25%;
    background-color: #FF9B00;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.5rem;
    color: white;
    font-family: 'Poppins', sans-serif; 
    border: none;
    border-radius: 8px;
}



/* Footer  */
footer{
    width: 100%;
    background-color: #b5b5b57a;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
#footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#fl{
    width: 50%;
}
#fl img{
    width: 85px;
    height: 40px;
}
#fl div{
    margin: 2rem 0;
}
#fl p{
    font-size: 0.6rem;
}
#fl svg{
    width: 1.2rem;
}
#contains{
    width: 45%;
}
#fm{
    width: 100%;
}
#fm p{
    font-size: 0.6rem;
    color: var(--gray);
}
#fm .p-head{
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: black;
}
#fr{
    width: 100%;
}
#fr p{
    /* display: inline-flex; */
    align-items: center;
    font-size: 0.6rem;
    color: var(--gray);
    /* margin-bottom: 1rem; */
}
#fr svg{
    width: 1rem;
    height: 1rem;
}
#fr .p-head{
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: black;
}
footer>p{
    text-align: center;
    font-size: 0.8rem;
    color: var(--gray);
}

/* Animation  */

