/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

:root{
    --blue:#001E6C;
    --yellow:#FF9B00;
    --skyBlue:#035397;
    --gray:#455A64;
}

/* Reset */
*{
    margin: 0;
    padding: 0%;
}
body{
    width: 100vw;
    overflow-x: hidden;
    font-size: 50%;
    font-family: 'Poppins', sans-serif;
}


/* utils  */
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.p-head{
    font-size: 1.2rem;
}
.p-secondary{
    font-size: 0.8rem;
    color:var(--gray);
}
button{
    cursor: pointer;
}

/* ---- Css by selecting elements ----  */

#navbar{
    display: none;
}
#mobNav{
    width: 95%;
    margin: auto;
}
#menu{
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.5rem;
}
#hamburger{
    position: fixed;
    right: -100%;
    top: 0%;
    height: 100vh;
    /* display: none; */
    padding: 1rem 1rem;
    padding-top: 2rem;
    transition: all linear 0.5s;
    background-color: #FF9B00;
}
#close{
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 1.5rem;
}
#hamburger a{
    display: block;
    font-size: 1.3rem;
    /* color: black; */
    color: #001E6C;
    border-bottom: 2px solid #001E6C;
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
}


/* Courses Section  */
#courses{
    width: 93%;
    margin: auto;
}
#courses .head{
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
}
#courses img{
    width: 100%;
    height: 6.8rem;
    border-radius: 0.7rem;
}
#courses label{
    font-size: 1rem;
}
#courses select{
    font-size: 1rem;
}
#courses option{
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
}
#courses>div{
    margin: 4rem 0;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course-container{
    width: 45%;
    padding: 0.4rem;
    margin: 1rem 0;
    border-radius: 0.8rem;
    box-shadow: 0.5px 0.5px 8px 5px rgba(128, 128, 128, 0.359);
}
.course-cat{
    font-size: 0.4rem;
    display: inline;
    padding: 2px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.452);
    margin: 2px;
}
.p-head1{
    font-size: 0.6rem;
    margin: 2px 0;
}
.live{
    color: #455A64;
    font-size: 0.56rem;
}
.live svg{
    height: 0.8rem;
    width: 1rem;
}
.lecture{
    color: #FF9B00;
}
.advance{
    color: var(--skyBlue);
    font-size: 0.56rem;
    margin: 1px 0px;
}
.advance svg{
    height: 0.7rem;
    width: 0.8rem;
}
.ratting{
    font-size: 0.6rem;
    margin: 2px 0;
}
.ratting span{
    color: #FF9B00;
    font-weight: 800;
    font-size: 0.7rem;
}
.ratting svg{
    height: 0.6rem;
    width: 0.7rem;
}
.course-container a{
    border: 1px solid var(--gray);
    color: #455A64;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.4rem;
    padding: 1px 2px;
}
#courses>button{
    border: 3px solid var(--yellow);
    border-radius: 8px;
    font-size: 1.2rem;
    color: var(--yellow);
    display: block;
    width: 21%;
    margin: 8rem auto;
    padding: 0.5rem 0.3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
    background-color: white;
}
.course-container button{
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding: 0.2rem 0.3rem;
    font-family: 'Poppins', sans-serif; 
    border: none;
    border-radius: 8px;
    margin-top: 2px;
}


/* for js  */
#management ,#electronics ,#civil{
    display: none;
}


/* Footer  */
footer{
    width: 100%;
    background-color: #b5b5b57a;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
#footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#fl{
    width: 50%;
}
#fl img{
    width: 85px;
    height: 40px;
}
#fl div{
    margin: 2rem 0;
}
#fl p{
    font-size: 0.6rem;
}
#fl svg{
    width: 1.2rem;
}
#contains{
    width: 45%;
}
#fm{
    width: 100%;
}
#fm p{
    font-size: 0.6rem;
    color: var(--gray);
}
#fm .p-head{
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: black;
}
#fr{
    width: 100%;
}
#fr p{
    /* display: inline-flex; */
    align-items: center;
    font-size: 0.6rem;
    color: var(--gray);
    /* margin-bottom: 1rem; */
}
#fr svg{
    width: 1rem;
    height: 1rem;
}
#fr .p-head{
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: black;
}
footer>p{
    text-align: center;
    font-size: 0.8rem;
    color: var(--gray);
}
